@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: sans-serif;
    color: var(--text-color);
}


:root{
--text-color:#683341;
--btn-bg:#F7DAE7;
--bg-color:#E2B4C1;
--petals-bg:#A55166;
}
section{
    margin-top: 100px;
}
.primary-btn{
    padding: 10px 50px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--btn-bg);
    border: none;
    border-radius: 20px;
    transition: 0.5s ease-out;
}
.primary-btn:hover{
    background-color:var(--petals-bg);
    color: var(--btn-bg);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.rs-beauty-logo {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  font-weight: 400;
  color: #e91e8c;
  letter-spacing: 2px;
}
header nav .nav-links ul{
  display: flex;   
}
header nav .nav-links ul .close{
    font-size: 30px;
    display: none;
}
header nav .nav-links ul li{
    list-style: none;
    margin-right: 20px;
    font-weight: 600px;
    position: relative;
}
header nav .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: var(--text-color);
    margin-inline: auto;
    text-align: center;
    transition: 0.5s;
}
header nav .nav-links ul li:hover::after{
    width: 100%;
}
header nav .nav-links ul li a{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
nav .menu{
    font-size: 25px;
    display: none;
}
/* Header-Content-Start */
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background:url(./assets/bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #F7DAE7;
}
.header-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    text-align: center;
}
.header-text h1 {
     font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
}
.header-text h1 span{
  font-family: 'Great Vibes', cursive;
}
.header-text p{
    width: 80%;
    margin-inline: auto;
    font-size: 1rem;
    line-height: 25px;
}
.header-text button{
    width: fit-content;
    margin-inline: auto;
}
/* best-product-start */
.best-products{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-inline: auto;
    text-align: center;
}
.best-products h1{
    font-size: 2.8rem;
 font-family: 'Cormorant Garamond', serif;
 font-weight: 1000;
 
}
.best-product-cards{
    display: grid;
    grid-template-columns: repeat(4,250px);
    justify-content: space-between;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
     gap: 10px;
}
.product-card img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.product-card h2{
    text-transform: capitalize;
    font-size: 1.2rem;
}
.product-card p{
    line-height: 25px;
}
.product-card button{
    width: 100%;
    border-radius: 5px;
    background-color:var(--text-color);
    color: var(--btn-bg);
    font-weight: 600px;
}
.discount-sec{
    background-color: var(--bg-color);
    width: 100%;
}
.discount-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.spring-discount{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spring-discount .spring-discount-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.spring-discount-left h1{
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.spring-discount-left p{
width: 85%;
line-height: 25px;
font-size: 1rem;
font-weight: 400;
}
.spring-discount-left button{
    padding: 10px 60px;
background-color:var(--text-color);
    color: var(--btn-bg);
 }
.spring-discount-left span{
    color: #fff;
    font-size: .9rem;
}
.spring-discount-right{
    width: 40%;
}
.spring-discount-right img{
    width: 100%;
    height: 55vh;
    object-fit: cover;
}
/* reviwe-section */
.section-glow{
    margin-top: 0px;
}
.reviwe-section{
    background-color: var(--btn-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.review-glow{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviw-left{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviw-left h1{
  font-family: 'Great Vibes', cursive;
font-size: 2rem;

}
.reviw-left  h3{
    font-family: sans-serif;
    font-size: 1rem;
}
.reviw-left h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.reviw-left ul{
    width: fit-content;
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 30px;
}
.reviw-left ul li{
    list-style: none;
    font-size: 30px;
}
.review-center{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-center  h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
}
.review-center  p{
    line-height: 25px;
}
.review-right{
    width: 25%;
}
.review-right img{
    width: 100%;
    object-fit: cover;
}
.main-footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 50vh;
}
.footer-flex{
    padding: 50px 0px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-center h1{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
.footer-center ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.footer-center ul li:hover{
 text-decoration: underline;
}
.footer-right h1{
    
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
.footer-right ul{
     display: flex;
    gap: 10px;
    list-style: none;
    padding: 5px 10px;
} 
.footer-right ul li{
    transition: 0.3s;
}
 .footer-right ul li:hover{
 text-decoration: underline;
 }
 .footer-right ul li i{
   font-size: 30px;
    color: black !important;
 }
 .copyrights{
    width: 100%;
    background-color: #A55166;
    padding:10px 20px;
    text-align: center;
    
}
.copyrights p {
    font-family: 'Cormorant Garamond', serif;
     color:white;
    font-size:1.2rem ;
 }
 .copyrights p span{
  font-family: 'Great Vibes', cursive;
  color: white;
  font-size: 1rem;    
 }

 @media (min-width:1000px) and (max-width:1300px){
    .best-product-cards{
    grid-template-columns: repeat(2,40%);
    gap: 50px;
    }
    .header-text{
        width: 80%;
    }
     .product-card{
        height: 90vh;
     }
    
 }
  @media (min-width:700px) and (max-width:1000px){
    
    header nav .nav-links ul{
        padding: 20px;
        position: fixed;
        right: -250px;
        top: 0px;
        width:250px;
        height: 100vh;
        background-color: var(--btn-bg);
        display:block;
        transition: 1s;
    }
    header nav .nav-links ul li{
        display: block;
        margin-top: 20px;
        font-size: 1.2rem;
        text-align: left;
    }
    header nav .nav-links ul .close{
        font-size: 35px;
        display: block;
    }
    nav .menu{
        display: block;
    }
    .header-text{
        width: 80%;
    }
     .best-product-cards{
    grid-template-columns: repeat(2,45%);
    gap: 30px;
    }
    .best-products{
        width: 90%;
    }
    .product-card img{
        height: 70vh;
    }
    .discount-content{
        padding: 30px;
        min-height: 90vh;
    }
.spring-discount{
    width: 90%;
    flex-direction: column;
 
}
.spring-discount .spring-discount-left{
    width: 100%;
    text-align: center;
       flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
}
.spring-discount-right{
    width: 100%;
}
.review-glow{
    padding: 40px;
width: 90%;
flex-direction: column;
gap: 40px;
text-align: center;
  }
.reviw-left{
    width: 100%;
}
.review-center{
    width: 100%;
}
.review-right{
    width: 50%;
}
.footer-flex{
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.footer-left{
    width: 100%;
}
.spring-discount .spring-discount-left{
    width: 100%;
}


  }
  @media(min-width:320px) and (max-width:699px){
   html, body {
    overflow-x: hidden;
    max-width: 100%;
}

header {
    overflow-x: hidden;
}

header nav {
    overflow-x: hidden;
}
        header nav .nav-links ul{
        padding: 20px;
        position: fixed;
        right: -250px;
        top: 0px;
        width:250px;
        height: 100vh;
        background-color: var(--btn-bg);
        display:block;
        transition: 1s;
    }
    header nav .nav-links ul li{
        display: block;
        margin-top: 20px;
        font-size: 1.2rem;
        text-align: left;
    }
    header nav .nav-links ul .close{
        font-size: 35px;
        display: block;
    }
    nav .menu{
        display: block;
    }
    .header-text{
        width: 80%;
    }
     .best-product-cards{
    grid-template-columns: repeat(2,45%);
    gap: 30px;
    }
    .best-products{
        width: 90%;
    }
 

.spring-discount{
    width: 90%;
    flex-direction: column;
    gap: 50px;
    text-align: center;
 
}
.spring-discount .spring-discount-left{
    width: 100%;
    align-items: center;
    text-align: center;
}
.spring-discount-left p{
    width: 100%;
}
 .discount-content{
    padding: 30px;
 }
 .spring-discount-right{
    width: 100%;
}
.review-glow{
    padding: 40px;
width: 90%;
flex-direction: column;
gap: 40px;
text-align: center;
  }
.reviw-left{
    width: 100%;
}
.review-center{
    width: 100%;
}
.review-right{
    width: 50%;
}
.rs-beauty-logo{
    font-size: 30px;
}
.footer-flex{
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.footer-left{
    width: 100%;
}
.spring-discount .spring-discount-left{
    width: 100%;
}
  }
  @media (max-width:500px){
     .best-product-cards{
    grid-template-columns: repeat(1,100%);
    gap: 50px;
    }
     .product-card img{
        width: 100%;
        height: 70vh;
        /* object-fit: contain; */
    }
    .spring-discount-right{
        width: 100%;
    }
.reviw-left{
    align-items: center;
}
  }